header .content-wrap-960 {
    padding: 120px 0 40px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(212, 212, 212)
}

.internship {
    padding: 0 0 64px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(212, 212, 212)
}

.education {
    padding: 0 0 64px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(212, 212, 212)
}

header h2 {
    padding-bottom: 24px;
}

h1 {
    font-weight: 600;
}

h2 {
    margin: 32px 0;
    font-weight: 400;
    line-height: 40px;
    color: #DC2E20;
}

h3 {
    color: black;
    margin-top: 80px;
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
}

h4 {
    text-transform: uppercase;
    color: #DC2E20;
    line-height: 24px;
    font-size: 16px;
}

p {
    font-size: 20px;
    margin: 32px 0;
    font-weight: 300;
    color: #7c6e6e;
}

li {
    font-size: 20px;
    margin: 16px 0;
    font-weight: 300;
    color: #7c6e6e;
}

img {
    padding: 0 24px;
    width: 100%;
}

.content {
    margin-bottom: 120px;
}

.tags p {
    display: inline-block;
    padding: 16px 24px;
    margin-right: 8px;
    margin-top: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.red {
    background: #DC2E20 !important;
}

.red p {
    color: white !important;
}

.full-width {
    padding: 16px 40px !important;
    width: 100% !important;
}

.spec {
    display: inline-block;
    padding: 16px 24px;
    margin-right: 8px;
    margin-top: 16px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.spec-title {
    color: #DC2E20;
    font-weight: 600;
    margin: 0;
}

.spec-description {
    margin: 0;
}

.spec-sub {
    margin: 0;
}

.spec span {
    font-weight: 500;
}