/* Header
------------------------------------------------*/

header {
  padding: 140px 0;
}

header h1 {
  font-weight: 300;
}

header h1 span {
  font-weight: 700;
}

header h2 {
  margin: 32px 0;
  font-weight: 700;
  line-height: 40px;
  color: #2c71e7;
}


header h3 {
  width: 65%;
  margin: 64px 0;
  font-weight: 300;
  line-height: 40px;
  color: #797989;
}

header .btn-secondary {
  margin-left: 8px;
}

header .animation {
  position: absolute;
  transform: scale(0.8) translate(840px, 100px);
  z-index: -2;
}

/* Projects
------------------------------------------------*/

.projects {
  padding: 40px;
}

.projects h2 {
  margin-top: 0;
  line-height: 56px;
}

.projects p {
  font-size: 20px;
  margin: 32px 0;
  font-weight: 300;
  color: #797989;
}

.projects a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.projects a:hover {
  color: #2c71e7;
  transform: scale(1.5) !important;
  transition: ease-in;
}

.project-item {
  width: 100%;
  padding: 60px 24px;
}

.thumbnail {
  width: 50%;
  height: 300px;
  margin-left: 56px;
  background-size: cover;
  border-radius: 16px;
}

.description {
  width: 50%;
}

.thmb-01 {
  background-image: url('../images/design-dna-thmb.jpg');
}

.thmb-02 {
  background-image: url('../images/rijksmuseum-thmb.jpg');
}